<!doctype html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'>
    <title>Ractive test</title>
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Ractivejs -->
    <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
  </head>

  <body>
    <div class="row">
      <h1 class="text-center">Ractive test!</h1>

      <div class="col-md-5 col-sm-5 col-xs-10 col-md-offset-1">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">New user</h3>
          </div>
          <div class="panel-body">
            <!-- I will render the form component here -->
            <div id='render-user-form'> </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-10">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Users list</h3>
          </div>
          <div class="panel-body" style="padding: 0px;">
          </div>
					<!-- I will render the table component here -->
					<div id='render-users-table'> </div>
        </div>
      </div>
    </div>
  </body>

  <script id='user-form' type='text/ractive'>
    <form on-submit="submit">
      <div class="form-group">
        <label for="username">Username</label>
        <input value="{{username}}" class="form-control" id="username" placeholder="Create your username ...">
      </div>
      <div class="form-group">
        <label for="email-address">Email address</label>
        <input value="{{email}}" type="email" class="form-control" id="email-address" placeholder="Your email address ...">
      </div>
      <div class="form-group">
        <label for="about-you">About you</label>
        <textarea value="{{about}}" class="form-control" id="about-you" placeholder="Some interesting of you ..." style="max-width:100%"></textarea>
      </div>

      <div class="pull-right">
        <button type="button" on-click="clear-form" class="btn btn-sm btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Clear
        </button>
        <button type="submit" class="btn btn-lg btn-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Done
        </button>
      </div>
    </form>
  </script>

  <script id="users-table" type="text/ractive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>About you</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
				{{#each users}}
					<tr>
						<td>{{id}}</td>
						<td name="username">{{username}}</td>
						<td name="email">{{email}}</td>
						<td name="about">{{about}}</td>
						<td width="1%">
							<span class="btn btn-sm glyphicon glyphicon-pencil" data-id="{{id}}"
               aria-hidden="true" on-click="edit"></span>
              <span class="btn btn-sm glyphicon glyphicon-ok" data-id="{{id}}" aria-hidden="true" style="display: none;" on-click="update-user"></span>
						</td>
						<td width="1%" on-click="delete">
							<span class="btn btn-sm glyphicon glyphicon-remove" data-id="{{id}}" aria-hidden="true"></span>
						</td>
					</tr>
				{{/each}}
        <tr>
        </tr>
      </tbody>
    </table>
  </script>

  <script>
    "use strict"

    // Form component
    var userForm = new Ractive({
      el: '#render-user-form',
      template: '#user-form'
    });

    // Table component
    var usersList = new Ractive({
      el: '#render-users-table',
      template: '#users-table',
			init: function() {
				var that = this;
				$.getJSON('/api/v1/users', function(data) { that.set('users', data) });
			},
      data: { users: [] }
    });

    // Form events handlers
    userForm.on('submit', function(event) {
      event.original.preventDefault();
      if (this.get('username').length == 0) {
        alert("User can't be blank");
        return
      }

      var that = this;
      var currentUsers = usersList.get('users');
      var newUser = {
        "username": this.get("username"),
        "email": this.get("email") || "",
        "about": this.get("about") || ""
      };

      // Wait success response for get Id
      $.ajax({
        url: '/api/v1/users',
        method: 'POST',
        contentType: 'application/json',
        type: 'json',
        dataType: 'json',
        data: JSON.stringify(newUser),
      }).done(function(data, status, XHR) {
        // Update table view
        currentUsers.push({
          id: data.id,
          username: data.username,
          email: data.email,
          about: data.about
        });
        usersList.set('users', currentUsers);
        // Clear form
        that.set('username', '');
        that.set('email', '');
        that.set('about', '');
      });
    });

    userForm.on('clear-form', function(event) {
      this.set('username', '');
      this.set('email', '');
      this.set('about', '');
    });

    // Table events handlers
    usersList.on('delete', function(event) {
      var id = event.original.srcElement.getAttribute("data-id");
      var users = this.get('users');
			// Removal from DB
			$.ajax({
				url: '/api/v1/users/' + id,
				method: 'DELETE',
				type: 'json',
				dataType: 'json'
			}).done(function(data, status, XHR) {
				// Removal from the view
				users = users.filter(function(user) { return user.id != id });
				usersList.set('users', users);
			});
    })

    usersList.on('edit', function(event) {
      // Refreshing view...
      var $clicked = $(event.original.srcElement);
      $clicked.closest('tr').find('td:gt(0):lt(3)').each(function () {
        var html = $(this).html();
        var input = $('<input class="form-control" type="text" />');
        input.val(html);
        $(this).html(input);
      });
      $clicked.css('display', 'none');
      $clicked.siblings('.glyphicon-ok').css('display', 'block');
    })

    usersList.on('update-user', function(event) {
      event.original.preventDefault();
      // Refreshing view...
      var $clicked = $(event.original.srcElement);
      var users = this.get('users');
      var that = this

      var updateUser = {
        "username": $clicked.closest('tr').find('td[name=username] input').val() || "",
        "email": $clicked.closest('tr').find('td[name=email] input').val() || "",
        "about": $clicked.closest('tr').find('td[name=about] input').val() || ""
      };
      $clicked.closest('tr').find('input').each(function () {
        var val = $(this).val();
        $(this).closest('td').html(val);
      });
      $clicked.css('display', 'none');
      $clicked.siblings('.glyphicon-pencil').css('display', 'block');
      console.log(updateUser)
      console.log($clicked.closest('tr').find('input[name=username]'))
      // Updating user...
      var userId = $clicked.data('id')
      $.ajax({
        url: '/api/v1/users/' + userId,
        method: 'PUT',
        type: 'json',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(updateUser)
      }).done(function(data, status, XHR) {
        for (var i = 0; i < users.length; i++) {
          if (users[i].id == userId) {
            users[i] = data;
            that.set('users', users);
            break;
          }
        }
        that.set('users', users)
      });
    })
  </script>
</html>
